body {
    background-color: rgb(0, 0, 0);
    background-image: url(images/checkers.png);
    background-repeat: infinite;
    animation: backdropillusion 4s infinite;
    animation-timing-function: linear;
}

@keyframes backdropillusion {
    to {background-position: top 118px left 118px;}
}

@keyframes fadelol {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    animation: fadelol 1s ease-out both;
}

p, details, summary, blockquote, h1, h2, h3, a, img, .center, .background, .navBar, .navBar-active, .navBar-inactive, .art-bg, .flex, .flex > div {
    animation: fadelol 1s ease-out both;
}

p, details, summary, blockquote, h1, h2,h3, a {
    font-family: funkin;
    color: white;
    text-shadow: 0px 2px 5px green;
    text-decoration: none;
    text-align: center;
}

details {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;

    outline-color: rgb(0, 255, 0);
    outline-style: solid;
    outline-width: 1px;

    interpolate-size: allow-keywords;

    &::details-content {
        transition:
            block-size 1s,
            content-visibility 1s allow-discrete;
        overflow: hidden;
        block-size: 0;
    }

    &[open]::details-content {
        block-size: auto;
    }
}

img {
    border-radius: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.background {
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    height: max-content;

    outline-color: rgb(51, 255, 0);
    outline-style: solid;
    outline-width: 1px;
}

/* NAVBAR */
.navBar {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: auto;
    height: auto;
    word-spacing: 10px;
}

.navBar-active {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);

    outline-color: rgb(0, 255, 0);
    outline-style: solid;
    outline-width: 1px;
}

.navBar-inactive {
    padding: 10px;
}

/* FAN ARTS */
.art-bg {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    height: max-content;
    outline-width: 3px;
    outline-style: solid;
    outline-color: rgb(0, 199, 0);
}

.flex {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10px;
    line-height: auto;
}

.flex>div {
    margin: 5px;
}

@font-face {
    font-family: funkin;
    src: url(funkin.ttf);
}